@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-rajdhani: 'Rajdhani', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #030305;
  color: #ffffff;
}

body {
  font-family: var(--font-rajdhani);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}